init_files/
output/
*~
build/
class
*.prof
libclass.a
*out
*.gch
python/hiclassy.c
python/*.pyc
python/build/i
ini_files
.vscode/
python/hiclassy.cpp
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
*.gch
python/dist/
python/hiclassy.egg-info/
hiclassy.egg-info